<style>
.formField {
    margin: 5px;
    width: 100%;
    align-self: center;
    box-sizing: border-box;
}
form {
    text-align: center;
}
</style>

<form action="https://formspree.io/xyydqnne" method="POST">
    <input type="text" class="formField" id="name" name="name" placeholder="Name *" required>
    <input type="text" class="formField" id="email" name="_replyto" placeholder="Email *" required>
    <input type="text" class="formField" id="subject" name="subject" placeholder="Subject">
    <textarea class="formField" id="message" name="message" placeholder="Message" rows="10"></textarea>
    <button type="submit">Send</button>
</form>
