<style>
    .gallery {
        margin: auto;
        text-align: center;
    }
    .gallery * {
        max-width: 100%;
    }
</style>

<div class="gallery">
    <a data-flickr-embed="true" href="https://www.flickr.com/photos/188063235@N02/albums/72157713985151201" title="Website Gallery">
        <img src="https://live.staticflickr.com/65535/49802681061_a859e66aee_z.jpg" alt="Website Gallery">
    </a>
</div>

<script async src="//embedr.flickr.com/assets/client-code.js" charset="utf-8"></script>
