<style>
.gallery {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center; 
    align-items: center;
}
.image {
    display: inline-block;
    flex-basis: 30%;
    margin: 5px;
    text-align: center;
}
</style>

{% assign image_files = site.static_files | where: "image", true %}
<div class="gallery">
    {% for image in image_files %}
        <div class="image">
            <img src="{{ image.path | relative_url }}" alt="{{ image.path }}" class="image" />
        </div>
    {% endfor %}
</div>
