<style>
.gallery {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center; 
    align-items: center;
}
.image {
    display: inline-block;
    flex-basis: 30%;
    margin: 5px;
    text-align: center;
}

/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 600px) {
    .image {
        flex-basis: 80%;
    }
}
</style>

<div class="gallery">
    {% for image in site.static_files %}
        {% if image.path contains 'assets/img/gallery' %}
            <div class="image">
                <img src="{{ image.path | relative_url }}" alt="{{ image.path }}" class="image" />
            </div>
        {% endif %}
    {% endfor %}
</div>
