<style>
table, tr, td {
    border: none;
}
</style>

<p>
    <b>Characteristics</b><br />
    Propellant: <br />
    Thrust: <br />
    Specific Impulse: <br />
    Air frame diameter: <br />
    Lift-off mass:
</p>

<table cellpadding="0">
    <tr>
        <td></td>
        <td rowspan="3" colspan="2">
            <img src="{{ 'assets/img/redkitei.png' | relative_url }}" alt="Red Kite I" />
        </td>
        <td><p>Main Parachute</p></td>
    </tr>
    <tr>
        <td><p>Avionics</p></td>
        <td><p>CO2 Deployment</p></td>
    </tr>
    <tr>
        <td><p>Motor</p></td>
    </tr>
</table>
