<style>
.teamPhotos {
    display: flex; 
    flex-wrap: wrap; 
    justify-content: center; 
    align-items: center;
}
.teamPhotosItem {
    position: relative;
    display: inline-block;
    flex-basis: 45%;
    margin: 10px;
    text-align: center;
}
.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 25%;
    width: 100%;
    transition: .4s height ease-in-out;
    background: linear-gradient(to top, rgba(0, 140, 186, 0.8), rgba(0, 140, 186, 0.8)) !important;
}
.teamPhotosItem:hover .overlay {
    height: 100%;
}
.text {
    position: absolute;
    color: rgba(255, 255, 255, 1);
    font-size: 15px;
    top: 50%;
    left: 50%;
    width: 100%;
    max-height: 100%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}
.image {
    display: block;
    width: 100%;
    height: 100%;
}

/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 600px) {
    .teamPhotosItem {
        flex-basis: 60%;
    }
}
</style>
