
<div class="teamPhotos">
{% for member in site.categories.team %}
{% if member.teams contains include.team or include.team == "all" -%}
    <div class="teamPhotosItem">
        <a href="{{ member.url | relative_url }}">
        {%- if member.image -%}
            {% capture member_image %}team/assets/img/{{ member.image }}{% endcapture %}
            <img src="{{ member_image | relative_url }}" alt="{{ member.title }}" class="image" />
        {% else %}
            <img src="{{ site.default_team_image | relative_url }}" alt="{{ member.title }}" class="image" />
        {% endif %}
            <div class="overlay">
                <div class="text">{{ member.title }}</div>
            </div>
        </a>
    </div>
{% endif -%}
{% endfor %}
</div>
